body{
    color:white;
}

.header{
    background-image: url(ikhwa.png);
    background-size: cover;
    /* min-height: 400px; */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1.5 / 1;
}
section{
    aspect-ratio: 1.5 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

solid{
    font-family: monospace;
    color: aliceblue;
    font-size: 3vw;
    font-stretch: expanded;
    margin-top: 20%;
    letter-spacing: 10px;
}

body{
    background-image: url(cosmicbg.jpg);
    background-size: cover;
}